<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado Restaurantes</title>
</head>
<body>
<h1 th:text="${title}"></h1>

<p th:text="|${#lists.size(restaurants)} resultados|"></p>
<p th:text="|${restaurants.size()} resultados|"></p>
<p th:text="|${numRestaurants} resultados|"></p>


<ul>
    <li th:each="restaurant : ${restaurants}">
        <span th:text="${restaurant.name}"></span>
        <span th:text="${restaurant.averagePrice}"></span>


    </li>
</ul>







</body>
</html>