<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle plato</title>
</head>
<body>

     <h1 th:text="'Plato' + ${dish.id}"></h1>

     <p th:text="'Nombre : ' + ${dish.name}"></p>

     <p th:text="'Precio' + ${dish.price != null ? dish.price + '€(EUR)' : 'Sin precio'}"></p>

     <p th:text="'Descripción : ' + ${dish.description != null ? dish.description : 'Sin descripción'}"></p>

     <!-- switch sobre enum tipo de plato DishType -->
     <p th:switch="${dish.dishType}">
        <span th:case="${T(com.example.model.Enum.DishType).STARTER}">Entrantes de la tierrina</span>
        <span th:case="${T(com.example.model.Enum.DishType).MAIN}">Principales</span>
        <span th:case="${T(com.example.model.Enum.DishType).DESSERT}">Postres</span>
        <span th:case="*">No definido.</span>


     </p>
<p th:if="${dish.restaurant != null}">
        Este plato pertenece al restaurante
    <a th:href="@{/restaurants/{id}(id=${dish.restaurant.id})}" th:text="${dish.restaurant.name}"></a>
</p>


     <h2>Opiniones de nuestros clientes</h2>

     <p th:if="${reviews.isEmpty()}">Nadie ha comentado todavía, sé el primero en escribir una opinion.</p>

     <ul th:unless="${reviews.isEmpty()}">
         <li th:each="review : ${reviews}">

             <p th:text="${review.title}"></p>
             <p th:text="${review.description}"></p>
             <p th:text="${'Valoración: ' + review.rating + ' /5estrellas'}"></p>
             <p th:text="${'Fecha: ' + review.creationDate}"></p>
         </li>
     </ul>
</body>
</html>

